// Variables
@import "variables";

.modal-card {
    width: auto;
}

.address {
	white-space: pre-wrap;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}
